.scrollable-column {
      height: 100vh; /* Full height */
      overflow-y: auto; /* Enable vertical scrolling */
      padding: 15px;
      background-color: #f8f9fa; /* Light background */
      border-right: 1px solid #dee2e6;
    }
    .scrollable-column:last-child {
      border-right: none;
    }

/* .dropdown-menu{
    z-index: 9999;
    position:absolute
} */

li{
  text-decoration: none;
  list-style-type: none !important;
  font-size: 0.9rem;
}

.objectDisplay {
  display: flex !important;
  align-content: center;
  justify-content: left;
  gap: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.collapsety{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 5px;
}
img{
  width:  80px;
  height:  80px;
  border-radius: 40px;
}
h6{
  font-weight: 500 !important;
}