*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fafafa;
}

a{
    color: beige;
}

.nav-color{
    background-color: #5f788a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sub{
    margin-top: 20px;
} 

.main{
    display: flex;
    justify-content: space-between;
}

.first{
    flex-basis: 55%;
    background-color: rgb(245, 248, 250);
    margin-bottom: 20px;
    height: 100vh;
}

.sub-main{
    margin: 3%;
}

.sidebar{
    flex-basis: 30%;
    background: #fff;
    position: sticky;
    align-self: flex-start;
}

.pics{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 4%;
    nav-index: 200;
}

.detail{
    display: flex;
}

.name{
    margin-top: 3%;
}


.postbox{
    width: 100%;
    height: 400px;
}

.postimage{
    width: 100%;
    height: inherit;
}

.search-box{
    margin-top: 1%;
    width: 200px;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    border: solid #5f788a;
}

.bar{
    margin-left: 20px;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    z-index: 200;
}

.pic{
    margin: 3%;
    z-index: 100;
}

.table{
    width: 270px;
    height: 30px;
    border: 1px solid #e7e7e7;
    margin: none;
    padding: none;
}

.table p{
    margin-left: 5px;
}

.sub-t h4{
    color: #e7e7e7;
}

.container{
    width: 700px;
    background-color: #eff3f7;
}

.sethome{
    color: blue;
    text-decoration: none;
}

.set{
    display: flex;
}

.sethead{
    margin-right: 20px;
}

.for{
    width: 500px;
}